:root {
  --heading-text-color: #2e2f42;
  --primary-text-color: #434455;
  --hero-title-color: #ffffff;
  --hover-focus-color: #4d5ae5;
  --footer-logo-color: #f4f4fd;
  --footer-text: #e7e9fc;
  --button-backgrnd-color-accent: #404bbf;
  --customer-bg-cl: #8e8f99;
  --footer-10-link-bg: rgba(255, 255, 255, 0.1);
  --green-cl: #31d0aa;
  --modal-bg: #fcfcfc;
}
/* ===================== */
/* =       RESET       = */
/* ===================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

/* Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  body {
    font-weight: 400;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ===================== */
/* |      SECTION      | */
/* ===================== */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section.team {
  padding-bottom: 128px;
  background-color: var(--footer-logo-color);
}
@media screen and (min-width: 768px) {
  .section.team {
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .section.team {
    padding-bottom: 120px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  color: var(--heading-text-color);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .section-title.feature-title {
    text-align: left;
  }
}

/* =========================== */
/* =       HEADER LOGO       = */
/* =========================== */

.header-logo {
  color: var(--heading-text-color);
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo span {
  color: var(--hover-focus-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--hover-focus-color);
}

/* ====================== */
/* |       HEADER       | */
/* ====================== */

.header {
  border-bottom: 1px solid var(--footer-text);
}

.site-nav,
.contact-list {
  display: none;
}

.header-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* ==================== */
/* |       HERO       | */
/* ==================== */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;

  text-align: center;
  background-color: var(--primary-text-color);

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
  height: 432px;
}

@media screen and (min-width 768px) {
  .hero {
    padding-bottom: 108px;
    max-width: 768px;
    height: 436px;
  }
}
@media screen and (min-width 1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1440px;
    height: 600px;
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 72px;
  width: 318px;

  color: var(--hero-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 40px;
    width: 494px;
    font-size: 56px;
    line-height: 1.07;
  }
}
/* =========================== */
/* |      FEATURES LIST      | */
/* =========================== */


@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .fetures {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
    .feture-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
  .feture-item {
    width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .feture-item {
    width: 264px;
  }
}

.feature-title {
  margin-bottom: 8px;
  color: var(--heading-text-color);
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .feature-title {
    font-weight: 500;
    font-size: 20px;
  }
}

.feature-thumb {
    display: flex;
    background-color: var(--footer-logo-color);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
@media screen and (max-width: 1199px) {
    .feature-thumb {
        display: none;
    }
}

/* ============================ */
/* |      EXAMPLAS PHOTO      | */
/* ============================ */

.examples {
  display: flex;
}

.examples .item + .item {
  margin-left: 24px;
}

.section.padding-bottom {
    padding-top: 0;
    padding-bottom: 120px;
}

@media screen and (max-width: 1199px) {
  .examples-section {
    display: none;
  }
}

/* ================== */
/* |      TEAM      | */
/* ================== */

.team-title {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--heading-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
