:root {
  --heading-text-color: #2e2f42;
  --primary-text-color: #434455;
  --hero-title-color: #ffffff;
  --hover-focus-color: #4d5ae5;
  --footer-logo-color: #f4f4fd;
  --footer-text: #e7e9fc;
  --button-backgrnd-color-accent: #404bbf;
  --customer-bg-cl: #8e8f99;
  --footer-10-link-bg: rgba(255, 255, 255, 0.1);
  --green-cl: #31d0aa;
  --modal-bg: #fcfcfc;
}
/* ===================== */
/* =       RESET       = */
/* ===================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

/* Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  body {
    font-weight: 400;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;

  color: var(--hero-title-color);
  background-color: var(--hover-focus-color);
  cursor: pointer;
  font-family: 'Roboto';
  letter-spacing: 0.04em;
  border-radius: 4px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 765px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

/* ===================== */
/* |      SECTION      | */
/* ===================== */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.team-section {
  padding-bottom: 128px;
  background-color: var(--footer-logo-color);
}
@media screen and (min-width: 768px) {
  .team-section {
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 120px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  color: var(--heading-text-color);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .section-title.feature-title {
    text-align: left;
  }
}

/* =========================== */
/* =       HEADER LOGO       = */
/* =========================== */

.header-logo {
  color: var(--heading-text-color);
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo span {
  color: var(--hover-focus-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--hover-focus-color);
}

/* ====================== */
/* |       HEADER       | */
/* ====================== */

.header {
  border-bottom: 1px solid var(--footer-text);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .nav-items {
    display: flex;
    align-items: flex-start;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    margin-left: 120px;
  }
  .site-nav .item + .item {
    margin-left: 40px;
  }
  .contact-list .item + .item {
    margin-top: 4px;
  }
  .contact-list .item {
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 4%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list .item:hover,
  .contact-list .item:focus {
    color: var(--hover-focus-color);
  }
  .contact-list {
    padding-bottom: 10px;
    padding-top: 24px;
  }
  .site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;

    color: var(--heading-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--hover-focus-color);
  }
  .site-nav .link.current {
    color: var(--hover-focus-color);
  }
  .nav-item {
    position: relative;
  }

  .current::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--hover-focus-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-items {
    align-items: center;
  }
  .site-nav {
    margin-left: 76px;
  }
  .contact-list {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin-left: auto;
  }
  .contact-list .item {
    font-size: 16px;
  }
  .contact-list .item + .item {
    margin-left: 40px;
  }
  .site-nav .link {
    padding-bottom: 28px;
  }
}

/* ======================= */
/* |      Mobile menu     | */
/* ======================= */
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--hero-title-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visability 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .button-menu-open {
    display: inline-block;
    margin-left: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 16px;
    padding: 0;
    line-height: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--footer-text);
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close:hover,
  .mobile-menu-close:focus {
    border-color: var(--footer-text);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .icon-menu {
    stroke: var(--heading-text-color);
  }

  .mobile-nav {
    margin-bottom: auto;
  }

  .mob-nav-item {
    font-weight: 700;
    color: var(--heading-text-color);
    font-size: 36px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-nav-item:hover,
  .mob-nav-item:focus {
    color: var(--hover-focus-color);
  }

  .contact-mobile {
    margin-bottom: 48px;
  }

  .contact-mobile .mob-item + .mob-item {
    margin-top: 40px;
  }

  .mob-item {
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-item:hover,
  .mob-item:focus {
    color: var(--hover-focus-color);
    font-size: 36px;
    font-weight: 600px;
  }

  .mobile-site-nav .mob-nav-item + .mob-nav-item {
    margin-top: 40px;
  }

  .mob-link-list {
    display: flex;
  }

  .mob-link-list .mob-link + .mob-link {
    margin-left: auto;
  }

  .mob-link {
    display: flex;
    padding: 0;
    line-height: 0;

    text-decoration: none;
    background-color: var(--hover-focus-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-link:hover,
  .mob-link:focus {
    background-color: var(--button-backgrnd-color-accent);
  }

  .team-icon {
    fill: var(--footer-logo-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .button-menu-open {
    display: none;
  }
}
/* ==================== */
/* |       HERO       | */
/* ==================== */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;

  text-align: center;
  background-color: var(--primary-text-color);

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  max-width: 428px;
  height: 432px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mob@2x.jpg);
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 72px;
  max-width: 320px;

  color: var(--hero-title-color);
  font-size: 36px;
  line-height: 1.1;
}

.button-hero {
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background: var(--button-backgrnd-color-accent);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
    max-width: 768px;
    height: 436px;
  }
  .hero-title {
    margin-bottom: 40px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desc.jpg);
    max-width: 1440px;
    height: 600px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desc@2x.jpg);
  }
}

/* =========================== */
/* |      FEATURES LIST      | */
/* =========================== */

.feature-title {
  margin-bottom: 8px;
  color: var(--heading-text-color);
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .feture-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 1199px) {
  .feature-thumb {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .feture-item {
    width: 355px;
  }
}

@media screen and (min-width: 1200px) {
  .fetures {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .feture-item {
    width: 264px;
  }
  .feature-title {
    font-weight: 500;
    font-size: 20px;
  }
  .feature-thumb {
    display: flex;
    background-color: var(--footer-logo-color);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

/* ============================ */
/* |      EXAMPLAS PHOTO      | */
/* ============================ */

.examples {
  display: flex;
}

.examples .item + .item {
  margin-left: 24px;
}

.section.padding-bottom {
  padding-top: 0;
  padding-bottom: 120px;
}

@media screen and (max-width: 1199px) {
  .examples-section {
    display: none;
  }
}

/* ================== */
/* |      TEAM      | */
/* ================== */

.team .item {
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  text-align: center;
  padding: 0px 0px 32px;
  background: var(--hero-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team .item + .item {
    margin-top: 72px;
  }
}

.team-title {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--heading-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team img {
  margin-bottom: 32px;
}
.team p {
  margin-bottom: 8px;
}

.team-link {
  display: flex;
  text-decoration: none;
  background-color: var(--hover-focus-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--button-backgrnd-color-accent);
}

.team-thumb {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.team-icon {
  fill: var(--footer-logo-color);
}

@media screen and (min-width: 768px) {
  .team .item {
    margin: 0;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
}

/* ======================== */
/* ||      CUSTOMER      || */
/* ======================== */

.customer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 15px;
}

.customer-icon {
  width: 110px;
  height: 56px;
  fill: var(--customer-bg-cl);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link {
  display: flex;
  border: 1px solid var(--customer-bg-cl);
  border-radius: 4px;
  width: 190px;
  height: 88px;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover .customer-icon,
.customer-icon:focus .customer-icon {
  fill: var(--button-backgrnd-color-accent);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--button-backgrnd-color-accent);
}

@media screen and (min-width: 768px) {
  .customer-list {
    /* justify-content: center; */
    gap: 72px 24px;
  }
  .customer-icon {
    width: 104px;
  }
  .customer-link {
    width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-list {
    flex-wrap: nowrap;
  }
}

/* ==================== */
/* ||     FOOTER     || */
/* ==================== */

@media screen and (max-width: 767px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    width: 264px;
  }
  .footer-form {
    text-align: center;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;

  color: var(--footer-logo-color);
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo span {
  color: var(--hover-focus-color);
}

.footer-title {
  display: inline-block;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--hero-title-color);
}

.footer p {
  text-align: left;

  font-weight: 400;
  color: var(--footer-text);
}

.footer {
  background-color: var(--heading-text-color);
}

/* Footer media links */

.footer-media {
  width: 208px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: var(--footer-logo-color);
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--footer-10-link-bg);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green-cl);
}

.footer-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;

  color: var(--footer-text);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--heading-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-btn {
  margin-right: auto;
  margin-left: auto;
  border: none;
  display: flex;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background: var(--button-backgrnd-color-accent);
}

.footer-airplane {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
  }
  .footer-content {
    width: 264px;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-media {
    margin: 0;
    text-align: left;
  }
  .footer-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .footer-input-button {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    gap: 72px 24px;
    padding-left: 108px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-content {
    margin-right: 120px;
  }
  .footer-media {
    margin-right: 80px;
  }
}

/* =================== */
/* ||     MODAL     || */
/* =================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px 16px;

  min-width: 392px;
  min-height: 586px;
  background-color: var(--modal-bg);

  opacity: 1;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  margin-left: auto;
  margin-bottom: 16px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--footer-text);
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border-color: var(--footer-text);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icon-close {
  width: 8px;
  height: 8px;
}

textarea {
  resize: none;
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  display: block;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 34px;
  padding-bottom: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.comment {
  height: 120px;
  margin-bottom: 16px;
  padding-left: 16px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  color: var(--customer-bg-cl);
}

.checkbox {
  appearance: none;
}

.checkbox-label {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  font-size: 12px;
  line-height: 1.3;
  color: #757575;
}

.checkbox-icon {
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--heading-text-color);
  border-radius: 2px;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--hover-focus-color);
  background-color: var(--hover-focus-color);
  background-origin: border-box;
}

.policy .link {
  margin-left: 4px;
  color: var(--hover-focus-color);
}

.modal-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border: none;
  padding: 16px 32px;
  min-width: 170px;
}

.modal-icon {
  position: absolute;
  top: 29px;
  left: 16px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .modal-icon {
  fill: var(--hover-focus-color);
}

.form-input:focus {
  outline: 1px solid var(--hover-focus-color);
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 408px;
  }
}

/* ======================= */
/* ||     PORTFOLIO     || */
/* ======================= */

.section-portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.buttons-potfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

.button.filters {
  padding: 8px 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;

  color: var(--hover-focus-color);
  background-color: var(--footer-logo-color);
  border: 1px solid var(--footer-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filters:hover,
.button.filters:focus {
  color: var(--hero-title-color);
  background-color: var(--button-backgrnd-color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

@media screen and (max-width: 1199px) {
  .portfolio-txt {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-img {
    width: 396px;
  }
  .prtfl-items {
    width: 396px;
  }
  .portfolio .prtfl-items + .prtfl-items {
    margin-top: 48px;
  }
  .buttons-potfolio {
    width: 268px;
  }
}

.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
}

.photo-descr p {
  font-weight: 400;
}

.photo-descr {
  padding: 32px 16px;
  border: 1px solid var(--footer-text);
  border-top: none;
}

.prtfl-items {
  box-shadow: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtfl-items:hover,
.prtfl-items:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .buttons-potfolio {
    flex-wrap: nowrap;
    margin-bottom: 64px;
    justify-content: center;
  }
  .button.filters {
    padding: 12px 24px;
  }
  .portfolio-img {
    width: 356px;
  }
  .prtfl-items {
    width: 356px;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 22px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .portfolio-img {
    width: 360px;
  }
  .prtfl-items {
    width: 360px;
  }
  .portfolio {
    gap: 40px 24px;
  }
  .portfolio-thumb {
    position: relative;

    overflow: hidden;
  }
  .portfolio-txt {
    position: absolute;
    display: inline-block;
    width: 296px;
    top: 40px;
    left: 32px;

    transform: translateY(270%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
  }
  .portfolio-thumb::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    background-color: var(--hover-focus-color);
  }
  .portfolio-card:hover .portfolio-txt,
  .portfolio-card:focus .portfolio-txt {
    opacity: 1;
    transform: translateY(0);
  }
  .portfolio-card:hover .portfolio-thumb::before,
  .portfolio-card:focus .portfolio-thumb::before {
    opacity: 1;
    transform: translateY(0);
  }
  .portfolio-txt p {
    color: var(--footer-logo-color);
  }
}
